@model ChickenHunt.Website.Controllers.Templates.Actions.ForgotPassword.Model

@{
    ViewBag.Title = "Forgot passwords instructions";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Forgot password instructions</title>
</head>
<body>
<div style="text-align: center;">
    <img src="@string.Format("{0}://{1}/Content/Images/Logo.png", Request.Url.Scheme, Request.Url.Authority)"/>

    <div>Use following link to reset your password</div>
    <div>
        <a href="@Model.Url">@Model.Url</a>
    </div>
</div>
</body>
</html>