@model ChickenHunt.Website.Controllers.Sign.Actions.ForgotPassword.Model

@{
    ViewBag.Title = "Forgot Password";
}


<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <h2>Forgot Password</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Post.Email, new { @class = "form-control" })
                <p class="help-block">Reset password instructions will be sent to this email.</p>
            </div>
            <button type="submit" class="btn btn-primary">Send instructions</button>
            @Html.ActionLink("Cancel", Model.GetRoute(), ChickenHunt.Website.Controllers.Home.Actions.Index.Route.Create(), new { @class = "btn btn-default" })
        }
    </div>
</div>