@model ChickenHunt.Website.Controllers.Sign.Actions.ForgotPasswordConfirm.Model

@{
    ViewBag.Title = "Forgot password instructions were sent.";
}

<h2>Forgot password instructions were sent.</h2>
<div class="alert alert-info">
    Check your email.
</div>